body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #020617;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.robo {
    width: 160px;
    height: 160px;
    background: #38bdf8;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.olhos {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}

.olho {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    animation: piscar 4s infinite;
}

@keyframes piscar {

    0%,
    95%,
    100% {
        height: 12px;
    }

    96%,
    98% {
        height: 2px;
    }
}

.boca {
    width: 45px;
    height: var(--boca, 8px);
    background: black;
    border-radius: 20px;
    transition: height 0.05s;
}


.robo.falando .boca {
    height: 28px;
}